bitcoin.pdf
books references.txt
coursera finaid.txt
kuliahmalam.txt
kuliahmalam.txt.bak
some Product Manager references book.png
cognitiveclass/cognitiveclass pyfords/Cognitiveclass PY0101EN Certificate _ Cognitive Class.pdf
cognitiveclass/cognitiveclass pyfords/PY0101EN Progress _ Cognitive Class.pdf
cognitiveclass/cognitiveclass pyfords/PY0101EN Progress _ Cognitive Class2.pdf
cognitiveclass/cognitiveclass pyfords/PY0101EN Progress _ Cognitive Class3.pdf
cognitiveclass/cognitiveclass pyfords/PY0101EN Progress _ Cognitive Class4.pdf
cognitiveclass/cognitiveclass pyfords/PY0101EN Progress _ Cognitive Class5.pdf
cognitiveclass/cognitiveclass pyfords/Python Cheat Sheet - The Basics CC.pdf
coursera google data analytics/ask the effective questionn_Requirements+Gathering+Worksheet.pdf
coursera google data analytics/Course-1-Week-1-Glossary-_-DA-terms-and-definitions.docx
coursera google data analytics/Course-1-Week-2-Glossary-_-DA-terms-and-definitions.docx
coursera google data analytics/Course-1-Week-3-Glossary-_-DA-terms-and-definitions-1-.docx
coursera google data analytics/Course-1-Week-4-Glossary-_-DA-terms-and-definitions-1-.docx
coursera google data analytics/Course-1-Week-5-Glossary-_-DA-terms-and-definitions-1.docx
coursera google data analytics/Course-2-Week-1-Glossary-_-DA-terms-and-definitions-Glossary-_-DA-terms-and-definitions-3-.docx
coursera google data analytics/DAC1-The-data-analysis-process.pdf
coursera google data analytics/DAC2-Designing-compelling-dashboards.pdf
coursera google data analytics/course 2/9gsOZ_tGTtOLDmf7Rh7T1Q_8a825edae2a94e5e81d880681270acf1_DAC2-Keyboard-functions-2.pdf
coursera google data analytics/course 2/16-10-2021_Learning-Log-Template_-Consider-what-data-means-to-you.docx
coursera google data analytics/course 2/fDHAQD8OQX6xwEA_DsF-tw_299c2bf89be04d0bae30bf763b606af1_DAC2-Spreadsheet-Errors-and-Fixes.pdf
coursera google data analytics/course 2/Learning-Log-Template_-Consider-what-data-means-to-you.docx
coursera google data analytics/course 2/UbHnj9LnRlGx54_S5yZRJA_64a50a70b938476c852b172e826e9af1_DAC2-Keyboard-functions-1.pdf
coursera google data analytics/daily task course 1/_Learning-Log-Template_-Consider-how-data-analysts-approach-tasks.docx
coursera google data analytics/daily task course 1/_Learning-Log-Template_-Explore-data-from-your-daily-life.docx
coursera google data analytics/daily task course 1/_Learning-Log-Template_-Organize-your-data-in-a-table.docx
coursera google data analytics/daily task course 1/_Learning-Log-Template_-Reflect-on-the-data-analysis-process.docx
coursera google data analytics/daily task course 1/_Learning-Log-Template_-Reflect-on-your-skills-and-expectations.docx
coursera google data analytics/daily task course 1/_Learning-Log-Template_-Think-about-data-in-daily-life.docx
coursera google data analytics/daily task course 1/organize your data in a table/_Learning-Log-Template_-Organize-your-data-in-a-table.docx
coursera google data analytics/daily task course 1/reflect on the data analysis process/11-10-2021_Learning-Log-Template_-Reflect-on-the-data-analysis-process.docx
coursera google data analytics/daily task course 1/reflect on your skill/4-10-2021_Learning-Log-Template_-Reflect-on-your-skills-and-expectations.docx
coursera google data analytics/daily task course 1/think about data/23-9-2021.docx
data enginner/cloud-data-engineering-for-dummies.pdf
docker/dockercheatsheet.txt
docker/wsl_update_x64.msi
docker/dockerfiles/docker-compose.yml
docker/dockerfiles/Dockerfile
docker/dockerfiles/web.go
excel/New Microsoft Excel Worksheet.xlsx
excel/Welcome to Excel1.xlsx
excel/Data Analysis with Excel/Conditional formatitng.xlsx
excel/Data Analysis with Excel/Data Analysis.xlsx
excel/Data Analysis with Excel/Data validation.xlsx
excel/Data Analysis with Excel/Excel Dashboard Recording.xlsx
excel/Data Analysis with Excel/Pivot updated.xlsx
excel/Data Analysis with Excel/Sort and filter.xlsx
excel/Data Analysis with Excel/Sumif and countif.xlsx
google cloud/Course-Student-Slides1.pdf
google cloud/course1/Course-Student-Slides1.pdf.en
google cloud/course1/Google-Cloud-Adoption-Framework-GCAF2.pdf.en
google cloud/course1/Whats-next3.pdf.en
html/index.html
html/style.css
html/Untitled-1.html
html/lk01 - pemweb/profile.html
html/lk01 - pemweb/style.css
java collection/linkedlist node concept.txt
java collection/recursion of fibonacci concept.txt
sql/learningsql-oreilly.pdf
python/projcet/basicCRUD.py
python/projcet/dice.py
python/projcet/minitree.py
python/projcet/miniwhileloops.py
python/projcet/rockpaperscissors.py
python/projcet/test.py
python/.vscode/settings.json
python/.vscode/settings.json
python/documentation/.txt
python/freeCodeCamp/1hello.py
python/freeCodeCamp/2drawshape.py
python/freeCodeCamp/3VarandDataTypes.py
python/freeCodeCamp/4Strings.py
python/freeCodeCamp/5Numbers.py
python/freeCodeCamp/6input.py
python/freeCodeCamp/7.makeCalculator.py
python/freeCodeCamp/8madLibsGame.py
python/freeCodeCamp/9lists.py
python/freeCodeCamp/10tuples.py
python/freeCodeCamp/11Functions.py
python/freeCodeCamp/12ifStatement.py
python/freeCodeCamp/13dictionaries.py
python/freeCodeCamp/14whileloop.py
python/freeCodeCamp/15forloop.py
python/freeCodeCamp/16nestedforloop.py
python/freeCodeCamp/17readfiles.py
python/freeCodeCamp/18writefile.py
python/freeCodeCamp/19modulePip.py
python/freeCodeCamp/20classesNobject.py
python/freeCodeCamp/phones.txt
python/freeCodeCamp/Student.py
python/freeCodeCamp/write.html
python/freeCodeCamp/__pycache__/Student.cpython-39.pyc
python/kelas terbuka/classinheritance.py
python/kelas terbuka/dictionary.py
python/kelas terbuka/localandglobalscope.py
python/kelas terbuka/main.py
python/kelas terbuka/matt.py
python/kelas terbuka/test.py
python/kelas terbuka/.vscode/settings.json
python/kelas terbuka/__pycache__/main.cpython-39.pyc
python/kelas terbuka/__pycache__/main2.cpython-39.pyc
python/kelas terbuka/__pycache__/matt.cpython-39.pyc
python/kelas terbuka/__pycache__/physic.cpython-39.pyc
python/kelas terbuka/sains/__init__.py
python/kelas terbuka/sains/math.py
python/kelas terbuka/sains/physic.py
python/kelas terbuka/sains/__pycache__/__init__.cpython-39.pyc
python/kelas terbuka/sains/__pycache__/math.cpython-39.pyc
python/kelas terbuka/sains/__pycache__/physic.cpython-39.pyc
